@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
       url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
       url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gilroy-Light.ttf') format('truetype'),
       url('../fonts/Gilroy-Light.woff') format('woff'),
       url('../fonts/Gilroy-Light.woff2') format('woff2');
  font-style: light;
  font-weight: 300;
}

html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #303030;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
}

body {
    overflow: hidden;
}

.content-wrapper, .centered {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
}

.content-wrapper * {
    z-index: 1;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 555;
    padding: 26px 0 30px;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header.fixed {
    background: #FFF;
    -webkit-box-shadow: 0px 10px 32px 0px #0000000d;
    box-shadow: 0px 10px 32px 0px #0000000d;
}

.header .menu-toggle {
    width: 18px;
    height: 18px;
    color: #303030;
    float: left;
    text-align: center;
    position: relative;
    margin: 8px 15px 0 0px;
    display: none;
}

.header-buttons {
    /*position: relative;*/
}

.header .menu-toggle span {
    width: 18px;
    height: 2px;
    background: #303030;
    display: inline-block;
}

.header .menu-toggle span:after, .header .menu-toggle span:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background: #303030;
}

.header .menu-toggle span:after {
    bottom: -4px;
}

.header .menu-toggle span:before {
    top: 9px;
}

.header .logo {
    float: left;
    width: 110px;
    height: 45px;
    background: url(../logo/logo.svg) center center no-repeat;
    background-size: contain;
}

.header .main-menu-wrapper .logo {
    margin-left: 24px;
}

.header .main-menu-wrapper .menu-toggle-cross {
    margin: 15px 5px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.header .right-side .main-menu {
    float: left;
    margin: 13px 0 0 0;
    padding-left: 32px;
}

.header .right-side .main-menu {
    list-style: none;
}

.header .right-side .main-menu > li a {
    color: #2a3946;
    text-decoration: none;
    text-transform: uppercase;
}

.header .right-side .main-menu > li {
    float: left;
    margin: 0px 21px;
    position: relative;
    font-size: 12px;
    color: #2a3946;
}

.header .right-side .main-menu > li .sub-menu-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    line-height: 20px;
    text-align: center;
    display: none;
}

.header .right-side .main-menu > li:hover .sub-menu-holder {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-top: 0;
}

.header .right-side .main-menu > li .sub-menu-holder li a {
    text-transform: none;
}

.header .right-side .main-menu > li .sub-menu-holder {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 50%;
    margin-left: -71px;
    margin-top: 5px;
    padding: 15px 0 0 0;
    -o-transition: margin 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-transition: margin 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
}

.header .right-side .main-menu > li .sub-menu-holder .sub-menu li:hover {
    font-weight: bold;
    cursor: pointer;
}

.header .right-side .main-menu > li .sub-menu-holder .sub-menu li a{
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #303030;
}

.header .right-side .main-menu > li .sub-menu-holder .sub-menu li {
    padding: 5px;
}

.header .right-side .main-menu > li .sub-menu-holder .sub-menu {
    padding: 15px 25px;
    background: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    min-width: 150px;
    position: relative;
    list-style: none;
}

.header .right-side .main-menu > li.has-menu {
    padding-right: 5px;
}

.header .right-side .main-menu > li.has-menu::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -7px;
    width: 3px;
    height: 3px;
    border: 3px solid transparent;
    border-top-color: #2a3946;
}

.header .right-side {
    width: calc(100% - 115px);
    margin: 2px 0 0 0;
    float: right;
    padding-right: 24px;
    max-width: 1165px;
}

.header .menu-item-home {
    display: none;
}

.no-text-transform {
    text-transform: none !important;
}

.show-on-xsmall, .show-on-small {
    display: none;
}

.top-wrapper {
    display: none;
}

.title {
    font-family: 'Gilroy', sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.44;
    color: #303030;
    margin-bottom: 30px;
    text-align: center;
}

h1.title {
    font-size: 44px;
    text-align: left;
    font-family: Gilroy, sans-serif;
}

h2.title {
    font-family: 'Gilroy', sans-serif;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

h3.title {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    text-align: left;
    line-height: 1.62;
    margin-bottom: 24px;
    font-weight: 800;

}

h4.title {

    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #303030;
}

h5.title {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

h3.title-big {
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 1.41;
    max-width: 820px;
    margin: 140px auto 50px;
}

footer {
    text-align: center;
    margin-top: 200px;
    padding-top: 47px;
    padding-bottom: 30px;
    position: relative;
}

.description {
    font-family: Gilroy, sans-serif;
    font-weight: 300;
    max-width: 426px;
    line-height: 1.75;
    color: #303030;
    margin-bottom: 24px;
    font-size: 16px;

}

.text-annotation {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #9c9c9f;
    max-width: 482px;
    margin-top: -13px;
}

footer > hr {
    border-top: solid 1px #e0e4e9;
    margin: 0 -5%;
    position: relative;
    z-index: 100;
    width: 110%;
    top: -47px;
}

.footer-menu-column {
    width: 125px;
    margin-bottom: 37px;
}

footer .ul-menu {
    list-style-type: none;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    text-align: left;
}

footer .menu-title {
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #343434;
    margin-bottom: 8px;
}

footer .menu-item a {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #303030;
    text-decoration: none;
}

footer .menu-item a:after {
    content:'';
    position: absolute;
    border-bottom:1px solid #303030;
    opacity: 0;
    width: 100%;
    bottom: -2px;
    left: 0px;
    transition: all 0.1s ease-in-out;
}

footer .menu-item a:hover:after {
    opacity: .8;
    bottom: -2px;
    left: 0px;
}

.logo-footer {
    display: inline-block;
    float: left;
    margin-right: 57px;
    width: 105px;
    margin-bottom: 22px;
}

.button-description-wrapper .btn {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    line-height: 2.5;
}

.button-description-wrapper {
    width: 240px;
    display: inline-block;
}

.button-description-wrapper .text {
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #6c8092;
    margin-bottom: 18px;
}

.copyright {
    font-size: 13px;
    font-weight: 300;
    color: #dadadb;
}

.terms {
    display: none;
}

.second-section .background-image.path-2 {
    top: 237px;
    left: -20px;
    right: 0;
    bottom: 0;
    height: auto;
    max-width: none;
    min-width: calc(100% + 30px);
}

.gradient-grey-white {
    position: absolute;
    top: 100px;
    left: 0;
    right: -30px;
    bottom: 0;
    height: 120%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f6f7f8));
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f6f7f8);
    background-image: -o-linear-gradient(bottom, #ffffff, #f6f7f8);
    background-image: linear-gradient(to top, #ffffff, #f6f7f8);
}

footer .background-image {
    position: absolute;
    bottom: 720px;
    right: -20px;
    width: calc(100% + 60px);
    max-width: none;
    height: auto;
    top: auto;
    left: 0;
}

img {
    max-width: 100%;
}

.terms {
    font-size: 12px;
}

.terms a {
    font-weight: 300;
    color: #2282d4;
}

.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 2;
    padding: 8px 24px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
    transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
}

.btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1, 2, 1);
    transform: scale3d(1, 2, 1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
    transition: opacity 0.3s, -webkit-transform 0.3s !important;
    -o-transition: transform 0.3s, opacity 0.3s !important;
    transition: transform 0.3s, opacity 0.3s !important;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
    transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1) !important;
}

.btn:hover::before {
    -webkit-transform: scale3d(11, 11, 1);
    transform: scale3d(11, 11, 1);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.btn.focus, .btn:focus, .btn:active {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .btn-success, .btn-success:hover {
    background-color: #1bb869;
    border-color: transparent;
}

.btn-success::before {
    background-color: #00a060;
}

.btn-white {
    background-color: transparent;
    border-color: transparent;
    color: #2a3946;
    font-weight: 400;
}

.btn-white::before {
    background-color: #e7e9ea;
}

.btn-grey {
    background-color: #6c8092;
    border-color: transparent;
    color: #FFF;
    font-weight: 400;
}

.btn-grey:hover {
    color: #303030;
}

.btn-grey::before {
    background-color: #e7e9ea;
}

.btn-round {
    border-radius: 50px;
}

.btn-big {
    padding: 13px 60px;
}

.btn-middle {
    padding: 8px 40px;
}

.btn-small {
    padding: 2px 10px;
}

.btn-narrow {
    padding-left: 30px;
    padding-right: 30px;
}

.btn-stroke {
    border: 1px solid #1bb869;
    background-color: #fff;
    color: #2a3946;
}

.button-description {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    font-style: italic;
    color: #5e6b72;
    padding-left: 9px;
}

.btn-no-hover:hover {
    color: #fff;
    cursor: auto !important;
}

.btn-no-hover:before {
    content: none;
}

section .background-image {
    position: absolute;
}

.first-section {
    padding-top: 153px;
}

body {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;

}

section {
    position: relative;
    margin-bottom: 120px;
}

.checkbox-switcher-wrapper * {
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
}

.checkbox-switcher-wrapper .switcher-text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #91979d;
    cursor: pointer;
    text-transform: uppercase;

}

.checkbox-switcher-wrapper .switcher-oval {
    width: 40px;
    height: 19px;
    border-radius: 9.5px;
    border: solid 1px #dadadb;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: -0.1rem;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.checkbox-switcher-wrapper .switcher-oval:after {
    width: 19px;
    height: 19px;
    background-color: #1bb869;
    position: absolute;
    border-radius: 50%;
    left: -0.05rem;
    top: -0.07rem;
    content: '';
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
}

[type=checkbox].checkbox-switcher {
    display: none;
}

.checkbox-switcher-wrapper [type=checkbox]:checked ~ .switcher-oval:after {
    left: 1.25rem;
    right: -0.1rem;
}

.checkbox-switcher-wrapper [type=checkbox]:checked ~ .right-text {
    font-weight: 600;
    color: #2a3946;
}

.checkbox-switcher-wrapper [type=checkbox]:not(:checked) ~ .left-text {
    font-weight: 600;
    color: #2a3946;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: bold !important;

}

ul.ul-checked {
    list-style-type: none;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
}

ul.ul-checked > li {
    padding: 14px 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #303030;
}

ul.ul-checked > li:before {
    content: '✔';
    position: absolute;
    top: 14px;
    left: -27px;
    color: #2a3946;
}

.ordered-list {
    position: relative;
    padding-bottom: 53px;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    padding-left: 49px;
    padding-right: 0;
}

.ordered-list:before {
    content: '1';
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2282d4;
    left: 16px;
    top: 3px;
    border-right: 2px solid #2282d4;
    height: 26px;
    padding-right: 7px;
    padding-top: 3px;
}

.ordered-list-1:before {
    content: '1';
}

.ordered-list-2:before {
    content: '2';
}

.ordered-list-3:before {
    content: '3';
}

.ordered-list-4:before {
    content: '4';
}

.ordered-list-5:before {
    content: '5';
}

.ordered-list-6:before {
    content: '6';
}

.ordered-list-7:before {
    content: '7';
}

.ordered-list-8:before {
    content: '8';
}

.ordered-list-9:before {
    content: '9';
}

.ordered-list-10:before {
    content: '10';
}

.ordered-list .title {
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    margin-bottom: 23px;
}

.icon-list {
    padding-left: 50px;
    padding-bottom: 20px;
}

.icon-list > img {
    position: absolute;
    left: 13px;
    top: 7px;
}

.big-white-block-wrapper {
    border-radius: 8px;
    border: solid 3px #ecf0f2;
    background-color: #ffffff;
    padding: 60px 90px;
}

.big-white-block-wrapper > img {
    border-radius: 50%;
    width: 189px;
    height: 189px;
    float: left;

}

.big-white-block-wrapper > .text-wrapper {
    padding-left: 100px;
    float: right;
    display: inline-block;
    width: calc(100% - 189px);
}

.big-white-block-wrapper > .text-wrapper > .title {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
}

.big-white-block-wrapper > .text-wrapper > .text {
    margin-top: 20px;
    padding-bottom: 7px;
}

.text{
    font-family: Gilroy, sans-serif;
    font-weight: 300;
}

.sumome-react-wysiwyg-component.sumome-react-wysiwyg-popup-background.sumome-react-wysiwyg-background > div > div{
    border-radius: 6px !important;
}

.sumome-react-wysiwyg-component.sumome-react-wysiwyg-popup-text.sumome-react-wysiwyg-text > div > div > p{
    font-family: Montserrat !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 1.64 !important;
    color: #303030!important;
    max-width: 310px;
}

.listbuilder-popup-content > div > div > div > span > div > div:nth-child(3) > div > div > button{
    font-family: Montserrat !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    letter-spacing: 0.2px!important;
    width: auto!important;
    text-align: center!important;
    margin: auto!important;
    padding: 15px 60px!important;
    border-radius: 50px!important;
    height: auto!important;
}

.listbuilder-popup-content > div > div > div > span > div > div:nth-child(5) > div > div > button{
    font-family: Montserrat!important;
    font-size: 10px !important;
    font-weight: normal!important;
    letter-spacing: 1px!important;
    color: #6c8092!important;
}

@media (min-width: 768px) {
    .col-md-55 {
        -ms-flex: 0 0 45.83%;
        -webkit-box-flex: 0;
        flex: 0 0 45.83%;
        max-width: 45.83%;
    }

    .col-md-58 {
        -ms-flex: 0 0 48%;
        -webkit-box-flex: 0;
        flex: 0 0 48%;
        max-width: 48%;
    }

    .hide-on-med-and-up {
        display: none;
    }
}

@media (max-width: 768px) and  (min-width: 600px) {
    .col-xm-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.partners-logos img {
    margin-left: 13px;
    margin-right: 13px;
    padding: 0;
    height: 60px;
}

.partners-logos div:last-child > img {
    margin-right: 0;
}

.partners-logos div:first-child > img {
    margin-left: 0;
}

.partners-logos {
    text-align: center;
    max-width: 100%;
    margin-top: 30px;
    opacity: .8;
}

.partners-big .partners-logos .dell-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.partners-big .partners-logos .handy-wrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.partners-big .partners-logos .quicksilver-wrapper {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.partners-big .partners-logos .volcom-wrapper {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.partners-big .partners-logos .boxed-wrapper {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.partners-big .partners-logos .weather-tech-wrapper {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}

.partners-big .partners-logos .realtruck-wrapper {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}

.partners-big .partners-logos div > img {
    height: 77px;
    margin: 25px 35px 7px;
}

.partners-big .partners-logos .weather-tech-wrapper > img {
    height: 62px;

}

.partners-big .partners-logos .realtruck-wrapper > img {
    height: 68px;
}

.partners-big.partners-logos {
    margin: 35px auto 70px;
    max-width: 800px;
}

.first-illustration {
    max-width: 400px;
}

@media (max-width: 991px) and (max-height: 400px) {

    .header {
        padding: 8px 0 8px;
    }

    .header .logo {
        width: 57px;
        height: 24px;
    }

    .header .right-side .logo {
        width: 57px;
        height: 24px;
        margin-left: 18px;
    }

    .header .main-menu-wrapper .menu-toggle-cross {
        margin: 5px;
    }

    .header .right-side {
        margin: 0;
        width: calc(100% - 90px);
    }

    .header .menu-toggle {
        margin-top: -2px;
    }

    .header .btn {
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 10px;
        line-height: 1;
        padding: 8px 25px;
        margin: -3px 0;
    }

    .content-wrapper, .centered {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1440px) {
    footer .background-image {
        bottom: 570px;
    }

    section .background-image {
        top: -120px;
        right: -20px;
        bottom: 0;
        height: 100%;
    }

    footer .background-image {
        bottom: 520px;
    }
}

@media screen and (max-width: 1280px) {

    .header .right-side {
        width: calc(100% - 110px);
        padding-right: 0;
    }

    .main-menu {
        padding-left: 0;
    }

    .header .right-side .main-menu > li {
        margin: 0 8px;
    }

    section .background-image {
        top: -23px;
        right: -12%;
        height: auto;
        width: 79%;
    }

    footer .background-image {
        bottom: 450px;
    }

    .partners-big .partners-logos .dell-wrapper {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .partners-big .partners-logos .handy-wrapper {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .partners-big .partners-logos .quicksilver-wrapper {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .partners-big .partners-logos .volcom-wrapper {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .partners-big .partners-logos .boxed-wrapper {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .partners-big .partners-logos .weather-tech-wrapper {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .partners-big .partners-logos .realtruck-wrapper {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .partners-big.partners-logos {
        margin: 35px auto 50px;
        max-width: 750px;
    }

    .partners-big.partners-logos .weather-tech-wrapper > img {
        margin-right: 15px;
    }

    .partners-big.partners-logos .dell-wrapper > img {
        margin-top: 15px;
        margin-right: 15px;
    }

    .partners-big .partners-logos div > img {
        height: 77px;
        margin: 20px 35px 3px;
    }
}

@media (max-width: 1100px) {

    .frequently-asked-questions {
        padding-right: 20px;
    }
}

@media (max-width: 991px) {

    h1.title {
        font-size: 34px;
    }

    footer .background-image {
        bottom: 200px;
    }

    .footer-menu {
        display: none;
    }

    .copyright {
        margin-top: 0px;
    }

    .terms {
        display: block;
    }

    .footer-menu > li {
        float: none;
    }

    .header .right-side {
        display: inline-block;
        float: right;
        width: auto;
    }

    .header .right-side .main-menu > li.has-menu::after {
        content: none;
        display: none;
    }

    .top-wrapper {
        display: block;
    }

    .header .menu-toggle {
        display: block;
    }

    .header .right-side .main-menu > li {
        margin-left: 0 !important;
    }

    .header .right-side .main-menu li {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.57;
        letter-spacing: normal;
        color: #2a3946;
        float: none;
        display: block;
        padding: 8px 0;
    }

    .header .right-side .main-menu > li .sub-menu-holder {
        position: static;
        margin: 0;
        padding: 0;
        opacity: 1;
        visibility: visible;
    }

    .header .right-side .main-menu > li .sub-menu-holder .sub-menu li {
        padding: 0;
    }

    .header .right-side .main-menu > li .sub-menu-holder .sub-menu {
        padding: 0 0 0 20px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        min-width: auto;
        position: static;
        list-style: none;
    }

    .header .right-side .main-menu li.has-menu > a {
        cursor: auto;
    }

    .header .right-side .main-menu-wrapper {
        position: fixed;
        width: 230px;
        background: #fff;
        top: 0;
        left: -100%;
        bottom: 0;
        -webkit-box-shadow: 4px 2px 33px 0 rgba(167, 182, 195, 0.52);
        box-shadow: 4px 2px 33px 0 rgba(167, 182, 195, 0.52);
        margin-top: 0;
        padding: 24px 15px 15px;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        height: 100vh;
    }

    .menu-overlay {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        opacity: 0.5;
        left: 0;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 0;
        background-color: #2a3946;
    }

    .header.open .sign-up-header, .header.open .btn-white, .header.open .header-buttons .btn-success {
        position: static;
    }

    .header.open .main-menu-wrapper {
        right: auto;
        left: 0;
        overflow-y: auto;
    }

    .header.open .right-side .main-menu-wrapper {
        padding-top: 13px;
    }

    .partners-logos {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .partners-big .partners-logos {
        max-width: 535px;
        margin-left: auto;
        margin-right: auto;
    }

    .partners-big .partners-logos div > img {
        height: 55px;
        margin: 20px 20px 3px;
    }

    .partners-big.partners-logos .dell-wrapper > img {
        margin-top: 20px;
        margin-right: 20px;
    }

    .partners-big .partners-logos .weather-tech-wrapper > img {
        height: 55px;
    }

    .partners-big .partners-logos .realtruck-wrapper > img {
        height: 55px;
    }

    .header .right-side .logo {
        width: 57px;
        height: 24px;
        margin-left: 18px;
    }

    .header .main-menu-wrapper .menu-toggle-cross {
        margin: 5px;
    }

    .header {
        padding: 8px 0 8px;
    }

    .header .logo {
        width: 57px;
        height: 24px;
    }

    .menu-toggle {
        margin-top: -4px;
    }

    .header .btn {
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 10px;
        line-height: 1;
        padding: 8px 25px;
        margin: -3px 0;
    }

    .header .right-side {
        margin: 0;
    }

    .header .menu-toggle {
        margin-top: -2px;
    }

    .header .right-side {
        width: calc(100% - 90px);
    }

    .hide-on-small {
        display: none;
    }

    .show-on-small {
        display: inline-block;
    }

    .header .menu-item-home {
        display: block;
    }
}

@media (max-width: 767px) {
    

    .btn::before {
    width: 16px;
    }

    .first-section {
        padding-top: 110px;
        margin-bottom: 60px;
    }

    .hide-on-xsmall {
        display: none;
    }

    .show-on-xsmall {
        display: inline-block;
    }

    .header .right-side .main-menu {
        padding-left: 0px;
        padding-top: 15px;
    }

    .title {
        font-size: 29px;
        line-height: 1.41;
    }

    .title.title-big {
        font-size: 32px;
        margin-bottom: 20px;
        margin-top: 168px;
    }

    img {
        display: inline-block;
    }

    .description {
        margin-bottom: 40px;
        text-align: left;
    }

    section .btn {
        text-align: center;
    }

    .title, h1.title, h2.title, h3.title,
    .text-annotation,
    .description, .btn, img, .zendesk-image, .helpscout-image, .freshdesk-image, .row > div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    h1.title {
        font-size: 34px;
    }

    h3.title {
        font-size: 22px;
    }

    .partners-logos img {
        height: 57px;
        margin-bottom: -8px;
    }

    .partners-logos .weather-tech-wrapper img {
        margin-right: 0;
    }

    .partners-logos .weather-tech-wrapper {
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .partners-logos .dell-wrapper {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .partners-logos .volcom-wrapper {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .partners-logos .quicksilver-wrapper {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .partners-logos .handy-wrapper {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .partners-logos .realtruck-wrapper {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .partners-logos .boxed-wrapper {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .partners-logos {
        max-width: 385px;
    }

    .partners-logos .boxed {
        height: 60px;
    }

    .partners-big .partners-logos,
    .partners-big .partners-logos {
        max-width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 600px) {

    .header #main-menu-wrapper {
        bottom: auto;
        width: 100%;
        max-height: 80vh;
        height: auto;
        top: -100%;
        right: 0;
        left: 0;
    }

    .header.open #main-menu-wrapper {
        bottom: auto;
        width: 100%;
        max-height: 80vh;
        height: auto;
        top: 0;
    }

    .header .right-side .main-menu > li.menu-item-integrations {
        height: 100%;
        float: right;
    }

    .header .right-side .main-menu > li {
        float: left;
        width: 33.33333333%;
        margin-right: 0;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.8;
        letter-spacing: normal;
        text-align: center;
        color: #2a3946;
    }

    .header .right-side .main-menu > li.menu-item-integrations .sub-menu-holder .sub-menu {
        padding-left: 0;
    }
    .header .right-side .main-menu > li .sub-menu-holder .sub-menu li a {
        font-family: Gilroy, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.62;
        letter-spacing: 2px;
        text-align: center;
        color: #343434;
        text-transform: uppercase;
    }

    .header .right-side .main-menu {
        width: 100%;
        padding-left: 32px;
        height: auto;
        margin-top: 37px;
        margin-bottom: 30px;
    }

    .header.open .header-buttons {
        background: #fff;
    }

    .header-buttons {
        position: relative;
        border-radius: 50px;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .header.open .sign-up-header, .header.open .btn-white, .header.open .header-buttons .btn-success {
        position: relative;
    }
}

@media (max-height: 600px) {
    .first-section {
        padding-top: 90px;
    }
}

@media (max-width: 560px) {
    .partners-big .partners-logos,
    .partners-big .partners-logos {
        max-width: 400px;
    }

    .partners-big .partners-logos .weather-tech-wrapper {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .partners-big .partners-logos .dell-wrapper {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .partners-big .partners-logos .volcom-wrapper {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .partners-big .partners-logos .quicksilver-wrapper {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .partners-big .partners-logos .handy-wrapper {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .partners-big .partners-logos .realtruck-wrapper {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .partners-big .partners-logos .boxed-wrapper {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .partners-big .partners-logos div > img {
        height: 46px;
        margin: 0px 11px 10px;
    }

    .partners-big.partners-logos .dell-wrapper > img {
        margin-top: 0px;
        margin-right: 11px;
    }

    .partners-big.partners-logos .boxed-wrapper > img {
        height: 60px;
        margin-top: -10px;
    }

    .partners-big.partners-logos .realtruck-wrapper > img {
        height: 38px;
    }

    .partners-big .partners-logos .weather-tech-wrapper > img {
        height: 46px;
    }

    .content-wrapper, .centered {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 400px) {
    footer .background-image {
        /*bottom: 170px;*/
    }

    .btn-big {
        padding-left: 30px;
        padding-right: 30px;
    }
}
